/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&family=Poppins:wght@300;400;600;700&family=Roboto:wght@400;500;700;900&display=swap');

/* font familys  */
/* font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

/* common style  */
html {
    scroll-behavior: smooth;
}

body {

    font-family: 'Poppins', sans-serif;
}

.title-color {
    color: #0A0826;
}

/* header style  */
.carousel-inner img {
    object-fit: cover;
    height: 584px;
    width: 100%;
}

.carousel img {
    margin: auto;
}

/* .package section   */
.package-badge {
    right: 2%;
}

.package h3,
.package h4 {

    font-family: Roboto;
    color: #231D4F;
}

.package p {

    font-size: 15px;
    font-weight: 400;
    opacity: .9;
}

.package-item-btn {

    background-color: #f3ebf0;
}

.package-hot-item {
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
    border-radius: 26px;
}


/* about setion  */
.about-us-icon {
    font-size: 50px;

}

/* frequently ask section  */
.frequently-ask-item {
    border: 2px solid #D5E5FB;
    border-radius: 5px;
}

/* footer  */
footer p {

    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 18px;
}